<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>
  <body>
    <div class="container">
      <div class="col-md-offset-3 col-sm-offset-2 col-md-6 col-sm-8 col-xs-12" style="margin-top: 50px">
        <div class="new-app app panel panel-default">
          <h3 class="line-strike"><span style="margin-left: 20px"><b>REQUEST PERMISSIONS</b></span></h3>
          <br>
          <div id="information" style="margin-left: 30px">
            <p>Hi <b><%= user.username + (user.email ? (' (' + user.email + ')') : '') %></b>!</p>
            <p>Client application <b><%=client.name %></b> is requesting access to your account.</p>
            <p>Permissions requested: <b><%= scopes %></b></p>
            <p>Redirect URI: <b><%= redirectURI %></b></p>
            <p>Do you approve?</p>
          </div>
          <hr>
          <!--<div style="margin-bottom: 20px; margin-left: 20px">
              <button class="btn btn-success" type="submit"><b>ALLOW</b></button>
              <button type="button" class="btn btn-default"><b>DENY</b></button>
          </div>-->
          <form action="/oauth/authorize/decision" method="post" style="margin-bottom: 20px; margin-left: 20px">
            <input name="transaction_id" type="hidden" value="<%= transactionId %>">
            <div>
              <input type="submit" class="btn btn-primary" value="Allow" id="allow">
              <input type="submit" class="btn btn-default" value="Deny" name="cancel" id="deny">
            </div>
          </form>
        </div>
      </div>
    </div>
    <body>
</html>


